/*center{
margin-top:50%;
}

#audio {
    position: fixed;
  top: 20px;
  left: 10px;
  z-index: 100;
}


#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
*/

body{
	width:100%;
	background-color:white;
}

img{
	opacity:0.2;
	display:none;
}